/* 
.AI-visualizations-palette-container,
.AI-nodes-palette-container {
    scrollbar-color: #06869b #025f7e;
    scrollbar-width: thin;
    scrollbar-arrow-color: #06869b;
}
*/

#new-window-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* 
.AI-data-explorer-container {
    scrollbar-color: rgba(255, 255, 255, 0.7) #237F7B;
    scrollbar-width: thin;
    scrollbar-arrow-color: rgba(255, 255, 255, 0.7);
}

.AI-properties-container {
    scrollbar-width: thin;
}
*/

::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  background: #237f7b;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.column-details.hide-scroll ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

/* data information dialog */
.column-details-scroller::-webkit-scrollbar-track {
  background: #fff;
}

.column-details-scroller::-webkit-scrollbar-thumb {
  background: #dedfe2;
  border: 1px solid #fff;
}

.column-details-scroller::-webkit-scrollbar-thumb:hover {
  background: #999ea6;
}

/* node and visualization palettes */
.AI-visualizations-palette-container::-webkit-scrollbar-track,
.AI-nodes-palette-container::-webkit-scrollbar-track {
  background: #025f7e;
}

.AI-visualizations-palette-container::-webkit-scrollbar-thumb,
.AI-nodes-palette-container::-webkit-scrollbar-thumb {
  background: #06869b;
  border: 1px solid #025f7e;
}
.AI-visualizations-palette-container::-webkit-scrollbar-thumb:hover,
.AI-nodes-palette-container::-webkit-scrollbar-thumb:hover {
  background: #0997a8;
}

/* data explorer */
.AI-panel-Data *::-webkit-scrollbar-track {
  background: #237f7b;
}

.AI-panel-Data *::-webkit-scrollbar-thumb {
  background: #1f9e99;
  border: 1px solid #237f7b;
}

.AI-panel-Data *::-webkit-scrollbar-thumb:hover {
  background: #22ada9;
}

/* properties container */
.AI-properties-container::-webkit-scrollbar-track {
  background: #fff;
}

.AI-properties-container::-webkit-scrollbar-thumb {
  background: #dedfe2;
  border: 1px solid #fff;
}

.AI-properties-container::-webkit-scrollbar-thumb:hover {
  background: #999ea6;
}

/* MUI DataGrid */
.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  background: #dedfe2;
  border: 1px solid #fff;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999ea6;
}

/* Editor Dialog */
.MuiDialogContent-root::-webkit-scrollbar-track {
  background: #fff;
}

.MuiDialogContent-root::-webkit-scrollbar-thumb {
  background: #dedfe2;
  border: 1px solid #fff;
}

.MuiDialogContent-root::-webkit-scrollbar-thumb:hover {
  background: #999ea6;
}

.ExpressionEditor {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #999ea6;
}
