.ToastContent {
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  min-height: 77px;
  max-width: 300px;
  width: 300px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 10px 50px 0px #232a3133;
  align-items: stretch;
  padding-right: 10px;
  cursor: default;
  pointer-events: all;
}

.ToastContentBar {
  background-color: #aaa;
  width: 12px;
  min-width: 12px;
}

.ToastContentIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToastContentIcon {
  width: 28px;
  height: 28px;
  color: #aaa;
}

.ToastContentIcon.Close {
  color: #333;
  pointer-events: all;
  cursor: pointer;
}

.ToastContent .ToastContentIcon svg {
  width: 28px;
  height: 28px;
  color: inherit;
}

.ToastContentTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
}

.ToastContentTitle {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 17px !important;
  text-align: left !important;
  color: #333d47 !important;
}

.ToastContentMessage {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  text-align: left !important;
  color: #333d47 !important;
}
